.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.back-button {
  margin-top: 20px; /* PROMENJENO: sa margin-bottom na margin-top */
  max-width: 600px;
  width: 100%;
}

.profile-card {
  width: 100%;
  max-width: 600px;
}

mat-card-header {
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
}

.form-row {
  display: flex;
  gap: 16px;
}

.form-row mat-form-field {
  flex: 1;
}

mat-card-actions {
    padding: 16px;
    display: flex;
    justify-content: flex-end;
}